/* mission vision  */


.mission-vision{
  height: 750px;
  text-align: center;
  width: 500px;
  padding: 50px;
  margin: auto;
  position: relative;
}

.mission-vision div{
  padding: 40px;
}

.mission-vision h1{
  font-size: 60px;
  font-family: 'Francois One', sans-serif;
}

.mission-vision p{
  font-size: 20px;
}

.icon img{
  width: 100px;
  position: absolute;
}

.farmer{
  top: 30px;
  left: 0px;
  transform: rotate(90deg);
}

.cow{
  top: 380px;
  left: 540px;
}

.chicken{
  top: 550px;
  left: 200px;
  transform: rotate(45deg);
}

.harvest{
  top: 53px;
  right: 540px;
}

.duck{
  top: 100px;
  right: 20px;
  transform: rotate(300deg);
}

.sprout{
    top: 100px;
    left: 350px;
    transform: rotate(300deg);
}

.sheep{
  top: 450px;
  right: 300px;
}










.callToAction{
    height: 850px;
    width: auto;
    background-color: #EAFFF7;
    padding: 40px;
}

    div.aboutHero h1{
        font-size: 80px;
    }

    div.aboutHero p{
        color: #FC345C;
    }


.aboutHero h1{
    font-family: 'Staatliches', cursive;
}

.aboutHero h3{
    font-size: 40px;
}

div.box div{
    width: 400px;
    height: 300px;
}

div.box img{
    width: 400px;
    height: 300px;
    background: #eee;
    box-shadow: 0 8px 8px -4px #FC345C;
    margin-top: 20px;
    /* margin-left: 100px; */
}

.threeIcon{
    margin-top: 20px;
}
div.threeIcon p{
    font-family: 'Francois One', sans-serif;
    text-align: center;
}

.cart{
    margin-left: 100px;
    margin-right: 100px;
}

.truck{}

/* Counting  */

.countMain{
    position: relative;
}

    .chickenFeet1{
        transform: rotate(250deg);
        position: absolute;
        display: inline-block;
        bottom: 30px;
        left: 170px;
        z-index: -1;
    }

    .chickenFeet2{
        transform: rotate(90deg);
        position: absolute;
        display: inline-block;
        top: 120px;
        right: -100px;
        z-index: -1;
    }

.wrapper {
    position: relative;
    width: 80vw;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 200px;
    padding-top: 50px;
  }

  .numContainer{
    width: 28vmin;
    height: 28vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em 0;
    position: relative;
    font-size: 16px;
    border-radius: 0.5em;
    background-color: #21242b;
    border-bottom: 10px solid #49BEB7;
  }

  i {
    color: #FC345C;
    font-size: 45px;
    text-align: center;
  }
  span.num {
    color: #ffffff;
    display: grid;
    place-items: center;
    font-weight: 600;
    font-size: 3em;
  }
  span.text {
    color: #AFFFDF;
    font-size: 1em;
    text-align: center;
    pad: 0.7em 0;
    font-weight: 400;
    line-height: 0;
  }



/* Agri Supply Chain */

.chain h1{
  font-family: 'Francois One', sans-serif;
  font-size: 60px;
}
.supplyChain{
  padding: 60px;
  margin-top: 50px;
  margin-bottom: 190px;
  position: relative;
}
.supplyChain div{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.barn img{
  width: 150px;
}

.consumer{
  position: absolute;
  top: 10px;
}

.consumer div{
  display: block;
}

.consumer img{
  width: 100px;
  margin: 30px;
}

.switch img{
  width: 60px;
  height: 70px;
}

.supLogo img{
  width: 160px;
  height: 190px;
}

/* carousel  */
.containerCarousel{
  background-color: #FC345C;
	display: grid;
	place-items: center;
	min-height: 70vh;
}

.swiper {
	width: 80%;
}

.image__wrapper {
	width: 100%;
	position: relative;
	padding-top: 56.25%;
}

.image__wrapper img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center top;
}


/* Media Query */

@media screen and (max-width: 1024px) {


  /* Counting  */
  .wrapper {
    width: 85vw;
  }
  /* .container {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  } */
}


@media screen and (max-width: 768px) {

  /* mission vision */

  .icon img{
    width: 75px;
  }
  
  .cow{
    top: 400px;
    left: 200px;
  }
  
  .chicken{
    top: 550px;
    left: 50px;
    transform: rotate(45deg);
  }
  
  .harvest{
    top: 80px;
    right: 190px;
  }
  
  .duck{
    top: 100px;
    right: 20px;
    transform: rotate(300deg);
  }
  
  .sprout{
      top: 150px;
      left: 130px;
      transform: rotate(300deg);
  }
  
  .sheep{
    top: 550px;
    right: 100px;
  }

  .callToAction{
    height: 900px;
    width: auto;
    background-color: #EAFFF7;
    /* padding: 40px; */
}

  div.box div{
    margin-top: 20px;
    /* margin-bottom: 10px; */
  }

  div.box img{
    width: 200px;
    height: 190px;
  }
  
  .aboutHero{
    margin: 0;
  }

  .aboutHero h3{

    font-size: 30px;
  }

    div.aboutHero h1{
        font-size: 40px;
    }

   .threeIcon{
    margin-top: 0px;
   } 
    .cart{
      margin-left: 20px;
      margin-right: 20px;
  }

  /* Supply Chain  */

  .supplyChain{
    padding: 60px;
    margin-top: 50px;
    margin-bottom: 190px;
    position: relative;
  }
  .supplyChain div{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .barn img{
    width: 80px;
  }
  
  .consumer{
    position: absolute;
    top: 10px;
  }
  
  .consumer div{
    display: block;
  }
  
  .consumer img{
    width: 70px;
    margin: 5px;
  }
  
  .switch img{
    width: 30px;
    height: 40px;
  }
  
  .supLogo img{
    width: 60px;
    height: 90px;
  }


   /* Counting  */
  /* .wrapper {
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  } */
  /* .container {
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
  } */

  .chain h1{
    font-size: 46px;
  }
}

@media screen and (max-width: 480px) {

 /* mission vision  */
 .icon img{
  width: 50px;
}

.farmer{
  top: 30px;
  left: 0px;
  transform: rotate(90deg);
}

.cow{
  top: 380px;
  left: 540px;
}

.chicken{
  top: 550px;
  left: 200px;
  transform: rotate(45deg);
}

.harvest{
  top: 53px;
  right: 540px;
}

.duck{
  top: 100px;
  right: 20px;
  transform: rotate(300deg);
}

.sprout{
    top: 100px;
    left: 350px;
    transform: rotate(300deg);
}

.sheep{
  top: 450px;
  right: 300px;
}
  .callToAction{
    height: 900px;
    width: auto;
    background-color: #EAFFF7;
    /* padding: 40px; */
}

  div.box div{
    margin-top: 20px;
    /* margin-bottom: 10px; */
  }

  div.box img{
    width: 200px;
    height: 190px;
  }
  
  .aboutHero{
    margin: 0;
  }

  .aboutHero h3{

    font-size: 30px;
  }

    div.aboutHero h1{
        font-size: 40px;
    }

   .threeIcon{
    margin-top: 0px;
   } 
    .cart{
      margin-left: 20px;
      margin-right: 20px;
  }

  /* Supply Chain  */

  .supplyChain{
    padding: 60px;
    margin-top: 50px;
    margin-bottom: 190px;
    position: relative;
  }
  .supplyChain div{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .barn img{
    width: 80px;
  }
  
  .consumer{
    position: absolute;
    top: 10px;
  }
  
  .consumer div{
    display: block;
  }
  
  .consumer img{
    width: 70px;
    margin: 5px;
  }
  
  .switch img{
    width: 30px;
    height: 40px;
  }
  
  .supLogo img{
    width: 60px;
    height: 90px;
  }


   /* Counting  */
  /* .wrapper {
    width: 90vw;
    flex-wrap: wrap;
    gap: 30px;
  } */
  /* .container {
    width: calc(50% - 40px);
    height: 30vmin;
    font-size: 14px;
  } */

  .chain h1{
    font-size: 46px;
  }
}

@media screen and (max-width: 480px) {

 /* mission vision  */

 .mission-vision{
  height: 650px;
  text-align: center;
  width: 300px;
  padding: 30px;
  margin: auto;
  position: relative;
}

.mission-vision div{
  padding: 20px;
}

.mission-vision h1{
  font-size: 30px;
  font-family: 'Francois One', sans-serif;
}

.mission-vision p{
  font-size: 20px;
}

 .icon img{
  width: 30px;
}

.farmer{
  top: 30px;
  left: 0px;
  transform: rotate(90deg);
}

.cow{
  top: 385px;
  left: 100px;
}

.chicken{
  top: 550px;
  left: 40px;
  transform: rotate(45deg);
}

.harvest{
  top: 50px;
  right: 100px;
}

.duck{
  top: 180px;
  right: 20px;
  transform: rotate(300deg);
}

.sprout{
    top: 100px;
    left: 30px;
    transform: rotate(300deg);
}

.sheep{
  top: 450px;
  right: 30px;
}


  .callToAction{
    height: 600px;
  }

  div.box img{
    width: 100px;
    height: 90px;
  }

   .threeIcon div{
    display: none;
   } 

   /* Counting  */

  /* .wrapper {
    gap: 15px;
  } */
  /* .container {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  } */


  /* Supply Chain  */

  .chain h1{
    font-size: 22px;
  }
  .supplyChain{
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 190px;
    position: relative;
  }
  .supplyChain div{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .barn img{
    width: 40px;
  }
  
  .consumer{
    position: absolute;
    top: 10px;
  }
  
  .consumer div{
    display: block;
  }
  
  .consumer img{
    width: 35px;
    margin: 5px;
  }
  
  .switch img{
    width: 15px;
    height: 20px;
  }
  
  .supLogo img{
    width: 30px;
    height: 60px;
  }
}